@tailwind base;
@tailwind components;
@tailwind utilities;

/* 테이블 스크롤바 커스텀 */
.table-scroll::-webkit-scrollbar {
  height: 8px;
}
.table-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.table-scroll::-webkit-scrollbar-thumb {
  background: #a7b6ca;
  border-radius: 9999px;
}
.table-scroll::-webkit-scrollbar-thumb:hover {
  background: #54a1ff;
}
